{% load actionkit_tags switchcase %}
{% filter remove_blank_lines %}

{% comment %}

  To change which fields show, edit {% hide_by_default %} below and set
  individual pages' required fields in the page admin, or activate the 
  User Fields customization option in the page admin to override which
  fields are visible and the order they're shown in.
  
  Unhide or require the 'country' field to make the form international. To
  geolocate more users outside the United States, unhide/require 'city'.
  
  You can change label text in the language admin, change {% field_order %}
  below, edit the CSS, or replace this form entirely with static HTML. See
  the advanced template ref for more:
  
  https://roboticdogs.actionkit.com/docs/manual/guide/advanced_templates.html

  name email prefix first_name middle_name last_name suffix country address1 address2 city state zip region postal phone
  
  Enjoy!

{% endcomment %}

{% field_order name email prefix first_name middle_name last_name suffix country address1 address2 city state zip region postal phone %}
{% hide_by_default prefix first_name middle_name last_name suffix country phone address1 address2 city state region postal %}

{% for field in user_fields %}
    <div id="ak-fieldbox-{{ field.field_name }}" {% if field.field_name|is_in:context.required %}class="required"{% endif %}>
        <label for="id_{{ field.field_name }}">
            {{ field.label_text }}{% if field.field_name|is_in:context.required %}<span class="ak-required-flag">*</span>{% endif %}
        </label>
        {% switch field.field_name %}
            {% case 'country' %}
                {% include "./country_select.html" %}
            {% case 'state' %} 
                {% include "./state_select.html" %}
            {% else %}
                {{ field.input_html }}
        {% endswitch %}
    </div>
{% endfor %}

{% if 'country'|is_in:fields %}
    <input type="hidden" name="auto_country" value="1">
    <style type="text/css">
        /* Ensure that, if there's no JavaScript, and there are both
         * global-friendly and US-only fields, the global-friendly
         * fields show rather than the US-only ones */
        {% if 'postal'|is_in:fields %}
        #ak-fieldbox-zip { display: none; }
        {% endif %}
        {% if 'region'|is_in:fields %}
        #ak-fieldbox-state { display: none; }
        {% endif %}
    </style>
{% else %}
    <input type="hidden" name="country" value="United States">
{% endif %}

{% endfilter %}
